.swiper-button-prev, .swiper-button-next{
    color:gray;
    //color:#e2132d;
}

.swiper-pagination-bullet{
    background:white;
}
.swiper-pagination-bullet-active{
    background-color: #e2132d;
    
}